#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore build and dist
_build/
_dist/

# No version locking for tests,
# we want them to blow up in case
# of issues
tests/.terraform.lock.hcl
